*{

  padding: 0;
  margin: 0;
}
/*------------------------------header*/
 header .navbar{
   margin-bottom:0;
   padding-left: 0;
   padding-right:0;

 }
 header .navbar-default{
   border-color:transparent;

 }

header .navbar-default .navbar-nav li a:hover{

 	background: #a2caf0;
 	border-bottom: 4px solid #3f85c6;
 }

/*-------------------------hero*/
.hero{
  background: url(../img/home.jpg) no-repeat;
  background-size:100% 100%;
position:relative;
color:white;
margin-top: 0;
}

.texto-centro{
  margin: 15% 0;
text-align: center;
}
/*----------------------------contenido*/
.contenido h3{
  text-align: center;
  margin: 5% 1%;

}

.contenido .conten{
  margin: 3% 2%;
}
.conten h4{
  text-align: center;
}
/*--------------------------hackaton*/
.hackaton{
  background: #ffff00;
    margin: 3% 2%;
}
 .img-hackaton{
margin: 3% 0;
text-align: center;
}
.hackaton img{
  width: 90%;
  margin-bottom:  0;
}
.text-hackaton{
  margin-top: 13%;
}
.hackaton h4{
  text-align: center;
  margin: 5% 1%;
}
.hackaton button{
  margin-bottom: 10px;
}
/*---------------------------contacto*/
.contacto{
  margin: 5% 5%;
}
.contacto img{
  width: 100%;
}
form{
  width: 90%;
  margin: 5% 3%;
}
 .left-inner-addon{
  margin-bottom: 5px;
}
/*-------------------------footer*/
footer{
  background: #4497A3;
  color: #fff;
}
footer span{
  color: yellow;
}
footer p{
  margin: 20px 0;
}
